.collapsible {
    background-color: rgb(255, 255, 255);
    color:  #D96C75;
    cursor: pointer;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
  }
   .collapsible:hover {
    background-color:#3C918D;
    color: white;
  }
  
  .content {
    padding: 50px 50px;
    display: none;
    overflow: hidden;
    background-color: rgb(237, 246, 240);
  }