body {
  background-color: rgba(255, 255, 255, 0.836);
  background-size: contain;
  height: auto;
  font-family: 'Abril Fatface', serif;
  font-family: 'Mulish', sans-serif;
  color: rgb(57, 57, 57);
  margin: 0;
}

.bg {
  height: 100vh;
  width: 100vw;
}

.scrollable {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

a {
  color:#3C918D;
  text-decoration: none;
}

h2 {
  text-align: center;
  color: #303333;
}

p {
  padding: 3%;
  font-size: 0.9em;
}

ul{
  padding: 3%;
  line-height: 1em;
}
li {
  padding: 3%;
  list-style-type: none;
}

.two-columns-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.icons {
  text-align: center;
  margin: 4%;
}

.box {
  margin-top: 5%;
  position: fixed;
  width: 15%;
  height: auto;
  padding:2%;
  margin-left: 4%;
  background-color: rgba(255, 255, 255, 0.836);
  box-shadow: 20px 20px 20px rgba(36, 36, 36, 0.05);
  float: left;
  font-size: larger;
  text-align: center;
}

.profile-picture {
  margin-top: 10%;
  width: 50%;
  border-radius: 100%;
}

.about {
  margin-top: 5%;
  margin-right: 4%;
  width: 30%;
  height: auto;
  line-height: 1.5em;
  position: relative;
  
  background-color: rgba(255, 255, 255, 0.836);
  box-shadow: 20px 20px 20px rgba(36, 36, 36, 0.05);

  float: right;
  width: 60%;
  height: auto;
  padding: 5%;
  font-size: larger;
}

.portfolio {
  position: relative;
  line-height: 1.5em;
  float: right;
  background-color: rgba(255, 255, 255, 0.836);
  width: 60%;
  height: auto;
  padding: 5%;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 80px;
  box-shadow: 20px 20px 20px rgba(36, 36, 36, 0.05);

}

.port-items-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.myImg {
  width: 70%;
  padding: 1%;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover  {filter: brightness(50%);}

.address{float: left; width:50%}
.e-mail {float:right; width: 50%; }

.fa{color:  #3C918D}
.fa:hover {color:  #D96C75;}


@media screen and (max-width: 700px) {
  .box {
    margin-top: 5%;
    width: 80%;
    float: left;
    margin-left: 5%;  
    padding:5%;  
    position: relative;
  }
}

@media screen and (max-width: 850px) {
  .box {
    margin-top: 5%;
    width: 80%;
    float: left;
    margin-left: 5%;
    padding:5%;    
    position: relative;
  }
  .profile-picture {
    margin-top: 2%;
    width: 30%;
  }
}

@media screen and (max-width: 860px) {
  .about{
    width: 80%;
    float: left;
    margin-left: 5%;
  }
}

@media screen and (max-width: 850px) {
  .portfolio{
    width: 80%;
    float: left;
    margin-left: 5%;
  }
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  
  align-items: center;
  justify-content: center;
  margin: 0 7em 5em 0;
  border-radius: 50%;
  padding: .20em;
  width: 70px;
  height: 70px;
  color: #F8F8F8;
  background-color:#D96C75;
  
  box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.11);
}



  /* The Modal (background) */
 .modal-content {
    display: flex; 
    position: fixed; 
    flex-direction: column;
    z-index: 1; 
    left: 0px;
    top: 0px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.9); 
  }
  
  /* Modal Content (image) */
  .modal-img-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .modal-img {
    width: 60%;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
 

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
  }
  

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link:hover {background-color:#3C918D;
color: white}

a:hover {color:  #D96C75;}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
